<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCBUGOxE5KpNeT1W2wecYBO25KXF16rfI</string>
	<key>GCM_SENDER_ID</key>
	<string>801934231614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beta.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>beta-d8322</string>
	<key>STORAGE_BUCKET</key>
	<string>beta-d8322.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801934231614:ios:32071a00f79df5e52e696f</string>
</dict>
</plist>